.root {
    position: relative;
    left: -120px;

    @media (max-width: 1330px) {
        width: 300px;
    }

    @media (max-width: 1215px) {
        // left: -50px;
        width: 200px;  
      }

      @media (max-width: 1105px) {
        left: -80px;
      } 
      
      @media (max-width: 1016px) {
       width: 100px;
      } 

      @media (max-width: 904px) {
        left: -40px; 
      }
      @media (max-width: 818px) {
       left: -120px;
      }

      @media (max-width: 644px) {
        left: -70px;
        top: 5px;
      }  

      @media (max-width: 414px) {
        left: -70px;
      }  
}


.icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    left: 12px;
    top: 12px;
}
.icon_clear {
    width: 19px;
    height: 19px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;      
    }
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 42px;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 1105px) {
        width: 300px; 
      }
    
      @media (max-width: 995px) {
        width: 200px; 
      }

      @media (max-width: 904px) {
        width: 150px; 
      }

      @media (max-width: 818px) {
        width: 400px;
      }

      @media (max-width: 644px) {
        width: 250px; 
      }    
  
}